.movies-info-container {
  padding: 12px 20px 0px 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.movies-info-container h1 {
  font-weight: 700;
  font-size: 24px;
  line-height: 33px;
  letter-spacing: -0.015em;
  color: #ffffff;
  margin-bottom: 50px;
}
.movies-info-container a {
  font-size: 18px;
  line-height: 25px;
  font-weight: 400;
  letter-spacing: -0.015em;
  color: #ffffff;
}
.crud-select{
  width: 300px;
  padding: 10px;
}
.prefix-crud-select__control {
    
  background-color: #6c6c6c !important;
}
.prefix-crud-select__placeholder{
  color: #e1e1e1 !important;
}
@media (min-width: 576px) {
  .movies-info-container {
    padding: 40px 0px 40px 40px;
  }
  .movies-info-container h1 {
    font-size: 48px;
    line-height: 65px;
  }
  .movies-info-container a {
    font-size: 24px;
    line-height: 33px;
  }
}
