@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

* {
  font-family: "Open Sans", sans-serif;
}

body {
  background-color: #525252;
}

.base-card {
  background: #6c6c6c;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
}

a,
a:hover {
  text-decoration: none;
  color: unset;
}
