.main-review-container {
  padding: 10px;
}

.reviewform {
  margin-bottom: 20px;
}

@media (min-width: 768px) {
  .main-screen-movies-details {
    margin: 40px;
  }
}

@media (min-width: 1400px) {
  .main-screen-movies-details {
    margin: 40px 145px 40px 145px;
  }
}
